/*reset  */
html, body, h1, h4, ul {
	margin: 0;
	padding: 0;
	font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif; 
}
html,body {
	min-width: 768px;
	height: 100%;
	font-size: 62.5%;
	line-height: 1;
}
ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}
.container {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.header, .server, .feature, .interaction, .partner, .contact {
	margin: 0;
}  
.card {
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding: 0;
}
.card img {
	width: 42%;
	box-shadow: 10px 10px 15px rgba(0,0,0,.1);
	border-radius: 50%;
}
.card span {
	display: block;
	margin-top: 2rem;
	font-size: 2rem;
}
/*navbar 导航栏*/
.navbar {
	min-height: 0;
	border: none;
	font-size: 1.8rem;
	background: transparent;
}
.navbar .navbar-right a {
	padding: 19px 30px;
	font-weight: 700;
	font-family: "Microsoft Yahei";
	border-bottom: 3px solid transparent;
}
.navbar .navbar-nav>li>a {
	color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
	border-bottom: 3px solid #fc3e4c;	
}
.navbar-default .navbar-nav>li>a:focus {
	color: #fc3e4c;
	border-bottom: 3px solid #fc3e4c;
}
.navbar-brand {
	float: left;
	padding: 0;
	width: 12.6rem;
	background: url(../img/logo.png) no-repeat;
	background-size: 100% 100%;
}
.navbar>.container-fluid .navbar-brand {
	margin: 18px 5.5rem;
	height: 24px;
}
.scroll {
	background: #222;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.scrollDeepColor {
	background: #222;
}
.navbar-nav {
	margin-right: 3rem;
}
/*header 标题页*/
.header {
	position: relative;
	width: 100%;
	height: 100%;
	color: #fff;
	font-weight: 900;
	background: #ccc;
	white-space: nowrap;
	overflow: hidden;
}
.header img {
	position: absolute;
	width: 100%;
	height: 150%;
}
.header h1 {
	position: relative;
	margin: 5rem auto;
	margin-top: 15rem;
	width: 50%;
	height: 15%;
	color: #fff;
	background: url(../img/h1.png) no-repeat 0% 50%;
	background-size: 100% 100%;
	text-align: center;
	z-index: 2;
}
.header span {
	float: left;
	margin-top: 1rem;
	font-size: 2.4rem;
	font-weight: 100;
	text-align: center;
} 
.header-warp {
	float: left;
	width: 100%;
	padding: 0 20%;
}
.ml-18 {
	margin-left: -1.8rem;
}
/*server 旅游产品版块*/
.server {
	color: white;
	text-align: center;
	background:url(../img/zq.jpg) no-repeat;
	background-size: 100% 100%;
}
.server-msg {
	position: relative;
	z-index: 2;
	margin-top: 0px;
}
.server-nav {
	padding: 0 17.5%;
	border: none;
	white-space: nowrap;
}
.server-nav li {
	width: 20%;
	padding: 0px;
	margin: 0;
	float: left;

}
#tab-list li.active  .fb-tab-btn, #tab-list li.active  .fo-tab-btn ,#tab-list li.active  .fn-tab-btn ,#tab-list li.active  .tf-tab-btn ,#tab-list li.active  .st-tab-btn {
	color: #fff;
}
#tab-list li.active  .fb-tab-btn,#tab-list li .fb-tab-btn:hover {
	background: #fc3e4c;
}
#tab-list li.active  .fo-tab-btn ,#tab-list li  .fo-tab-btn:hover {
	background: #fc3e2c;
}
#tab-list li.active  .fn-tab-btn,#tab-list li  .fn-tab-btn:hover {
	background: #ffd014;
}
#tab-list li.active  .tf-tab-btn ,#tab-list li  .tf-tab-btn:hover {
	background: #37b4fd;
}
#tab-list li.active  .st-tab-btn,#tab-list li  .st-tab-btn:hover {
	background: #b59ce5;
}
#tab-list li .fb-tab-btn,#tab-list li  .fo-tab-btn,#tab-list li  .fn-tab-btn,#tab-list li  .tf-tab-btn,#tab-list li  .st-tab-btn {
	border: none;
	border-radius: 0;
	margin: 0 ;
}
#tab-list li .fb-tab-btn:hover ,#tab-list li  .fo-tab-btn:hover ,#tab-list li  .fn-tab-btn:hover ,#tab-list li  .tf-tab-btn:hover ,#tab-list li  .st-tab-btn:hover {
	color: #fff;
}

.server-nav .fo-active,.server-nav .fb-active,.server-nav .st-active,.server-nav .fn-active,.server-nav .tf-active{
	background: #fc3e4c;
	color: #fff;
}
.server-msg a {
	display: inline-block;

	line-height: 3rem;
	color: #000;
	background: #fff2eb;
	font-weight: 100;
	text-decoration: none;
	font-size: 2.0rem;
}
#tab-list li a {
	padding: 22px  15px; 
}
.server-content {
	position: relative;
}
.triangle {
	display: none;
	position: absolute;
    	bottom: -10px;
	width: 0;
	height: 0;
	border-top: 10px solid #fc3e4c;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
#triangle-fb {
	display: block;
	left: 23.48%;
	border-top: 10px solid #fc3e4c;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
#triangle-fo {
	left: 36.38%;
	border-top: 10px solid #fc3e4c;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;	
}
#triangle-fn {
	left: 49.28%;
	border-top: 10px solid  #ffd014;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;	
}
#triangle-tf {
	left: 62.18%;
	border-top: 10px solid #37b4fd;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;	
}
#triangle-st {
	left: 75.08%;
	border-top: 10px solid #b59ce5;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;	
}
/*server- football 模块*/
.server-football {
	display: none;
}
#ft-sl .lt {
	padding: 3rem 3rem 0rem 0rem;
	background: url(../img/qiu.png) 24% 88% #fc3e4c no-repeat;
	background-size: 56%;
}
#ft-sr .rtl, #ft-sr .rtr {
	width: 50%;
}
/*server- food 模块*/

.server-food {
	display: none;
}
#fo-sl .lt {
	padding: 3rem 3rem 0rem 0rem;
	background: url(../img/bg-lt.png) 16% 72% #fc3e2c no-repeat;
	background-size: 39%;
}
/*server- traffic 模块*/
.server-traffic {
	display: none;	
}
#tf-sl .lt {
	padding: 3rem 3rem 0rem 0rem;
	background: url(../img/bg-tf.png)  17% 83% #37b4fd no-repeat;
	background-size: 44%;
}

/*server- fun 模块*/
.server-fun {
	display: none;
}
#fun-sl .lt {
	text-align: left;
	padding: 3rem 0rem 0rem 3.2rem;
	background: url(../img/bg-fun.png) 82% 86% #ffd014 no-repeat;
	background-size: 40%;	
}
/*server- stay 模块*/
.server-stay {
	display: none;

}

#st-sl, #st-sr,#st-ct, .st-tl, .st-tr, .st-bl, .st-br {
	float: left;
} 
#st-sl {
	width: 34.97%;
}
#st-ct {
	width: 34.97%;
}
#st-sr {
	width: 30.06%;
}
.st-tl,.st-tr,.st-bl, .st-br {
	width: 100%;
}
.st-tl,.st-tr {
	height: 54.72%;
}
.st-bl, .st-br {
	height: 45.28%;
}
.st-tr {
	padding: 3rem 0rem 0rem 3rem;
	text-align: left;
	line-height: 1.6;
	background: url(../img/wu.png) 81% 80% #b59ce5 no-repeat;
	background-size: 55%;
}
.server-stay img {
	width: 100%;
	height: 100%;
}
/*模块*/
.food{
	float: left;
	padding: 0% 19.7%;
	width: 100%;	
	overflow: hidden;
}
.show-left, .show-right ,#st-sl, #st-ct, #st-sr{
	margin: 4.77% 0;
}
.food-arrow {
	position: relative;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom: 49px solid #ffd200;
}

.food img {
	width: 100%;
	height: 100%;	
}
.food span {
	font-weight: lighter;
}
.show-left {
	float: left;
	width: 26.9%;
	height: 100%;
}
.lt {
	height: 50%;
	text-align: right;
	line-height: 1.6;
}
.lt span, .st-tr span {
	display: block;
	font-size: 2.0rem;
	font-weight: 100;
}

/*大屏幕*/
@media all and (min-width: 2000px) {
	.header-warp {
		padding: 0 20%;
	}
	.header-warp span {
		font-size: 3rem;
	} 
	.ml-18 {
		margin-left: -2.4rem;
	}
	.team-img {
		text-align: center;
		padding: 2rem 0;
	}
	.team .team-img img {
		width: 72%;
	}
	.team .team-word {
		padding-top: 6rem;
	}
	.team .team-word h4 {
		font-size: 2.9rem;
	}
	.team .team-word p {
		font-size: 2rem;
		line-height: 1.2;
	}
	.team .team-word a {
		width: 34%;
		font-size: 2.2rem;
	}
	.contact .copyright {
		left: 64%;
	}

}
/*正常屏幕*/
@media all and (max-width: 1440px) {
	.header-warp {
		padding: 0 21%;
	}
	.ml-18 {
		margin-left: -2.2rem;
	}
	#ft-sl .lt ,#fo-sl .lt ,#tf-lt .lt ,#fun-sl .lt , #tf-sl .lt,.lt {
		padding: 2rem 2rem 0rem 0rem; 
	}
	#fun-sl .lt, .st-tr  {
		padding: 2rem 0rem 0rem 2rem;
	}
	#ft-sl .lt span ,#fo-sl .lt span ,#tf-lt .lt span ,#fun-sl .lt span , .lt span,.st-tr span, #tf-sl .lt span,.server-msg a  {
		font-size: 1.8rem;
	}
	.mask span {
		font-size: 1.5rem;
	}
	.feature a {
		width: 9%;
	}

	.contact-phone span,.contact-address span ,.contact .contact-website{
		font-size: 1.8rem;
	}
	.contact li p.address-english {
		font-size: 1.3rem;
	}
	.copyright {
		left: 50%;
	}
}
/* 小屏幕 */
@media all and (max-width: 1024px) {
	.ml-18 {
		margin-left: 0;
	}
	#ft-sl .lt ,#fo-sl .lt ,#tf-lt .lt ,.lt, #tf-sl .lt  {
		padding: 1rem 1rem 0rem 0rem; 
	}
	#ft-sl .lt span ,#fo-sl .lt span ,#tf-lt .lt span ,#fun-sl .lt span , .st-tr span, .lt span, #tf-sl .lt span,.server-msg a  {
		font-size: 1.6rem;
	}
	#fun-sl .lt , .st-tr {
		padding:  1rem 0rem 0rem 1rem;
	}
	.mask {
		font-size: 1.3rem;
	}
	.team .team-msg {
		padding: 3rem 0 4rem 0;
	}
	.team-img {
		padding-top: 3.5rem;
	}
	.team .team-word {
		padding: 3rem 0 0 1.5rem;
	}
	.team .team-word h4 {
		font-size: 2.6rem;
	}
	.team .team-word p {
		font-size: 1.5rem;
	}
	.team .team-word a {
		width: 54%;
		line-height: 3.4rem;
		font-size: 1.7rem;
	}
	.contact-phone span,.contact-address span ,.contact .contact-website{
		font-size: 1.8rem;
	}
	.contact li p.address-english {
		font-size: 1.3rem;
	}
	span.copyright {
		left: 48%;
		font-size: 1.6rem;
	}
}
/* 平板 */
@media all and (max-width: 768px) {
	#ft-sl .lt ,#fo-sl .lt ,#tf-lt .lt ,#fun-sl .lt ,.lt ,#tf-sl .lt {
		padding: 2rem .6rem 0rem 0rem; 
		line-height: 1.3;
	}
	#ft-sl .lt span ,#fo-sl .lt span ,#tf-lt .lt span ,#fun-sl .lt span ,  .st-tr span,.lt span ,#tf-sl .lt,.server-msg a {
		font-size: 1.5rem;
	}
	#fun-sl .lt, .st-tr {
		padding:  1rem 0rem 0rem .6rem;
	}
	.mask span {
		font-size: 1.2rem;
	}
	.team-img {
		padding-top: 5rem;
	}
	.team .team-word {
		padding: 2rem 0 0 0;
	}
	.team .team-word h4 {
		font-size: 2.4rem;
	}
	.team .team-word p {
		font-size: 1.4rem;
	}
	.team .team-word a {
		width: 62%;
		font-size: 1.6rem;
		line-height: 3.2rem;
	}
	.contact-phone span,.contact-address span ,.contact .contact-website{
		font-size: 1.8rem;
	}
	.contact li p.address-english {
		font-size: 1.3rem;
	}
	span.copyright {
		left: 40%;
		font-size: 1.6rem;
	}
}
.lb {
	height: 50%;
}
.show-right {
    float: left;
    width: 73.1%;
    height: 100%;
}
.rt {
    height: 39.68%;	
}
.rtl {
    float: left;
    width: 32.95%;
    height: 60.32%;
}
.rtr {
    float: left;
    width: 67.05%;
    height: 60.32%;
}

.lb, .rt , .rtl, .rtr, #st-sl, .st-br, .st-tr, .st-bl,.st-tl {
	overflow: hidden;
	position: relative;
}
.food img {
	position: relative;
	z-index: 1;
}
.mask {
	position: absolute;
	top: 0;
	z-index: 0;
	float: left;
	padding-left: 4%;	
	width: 100%;
	height: 100%;
	font-size: 1.8rem;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 50% ,rgba(0,0,0,.5) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,.2)), color-stop(100%,rgba(0,0,0,.5)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50% ,rgba(0,0,0,.5) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50% ,rgba(0,0,0,.5) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50% ,rgba(0,0,0,.5) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50% ,rgba(0,0,0,.5) 100%);
	opacity: 1;
	filter:alpha(opacity=100);
	*opacity: 1;
	+opacity: 1;
	_opacity: 1;
}
.mask:hover {
	  animation: .25s fadeIn forwards;
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0; /*初始状态 透明度为0*/
		filter:alpha(opacity=0);
	}
	50% {
		opacity: .8; /*中间状态 透明度为0*/
		filter:alpha(opacity=80);
	}
	100% {
		opacity: 1; /*结尾状态 透明度为1*/
		filter:alpha(opacity=100);
	}
}
@-moz-keyframes fadeIn {
	0% {
		opacity: 0; /*初始状态 透明度为0*/
		filter:alpha(opacity=0);
	}
	50% {
		opacity: .8; /*中间状态 透明度为0*/
		filter:alpha(opacity=80);
	}
	100% {
		opacity: 1; /*结尾状态 透明度为1*/
		filter:alpha(opacity=100);
	}
}
@-ms-keyframes fadeIn {
	0% {
		opacity: 0; /*初始状态 透明度为0*/
		filter:alpha(opacity=0);
	}
	50% {
		opacity: .8; /*中间状态 透明度为0*/
		filter:alpha(opacity=80);
	}
	100% {
		opacity: 1; /*结尾状态 透明度为1*/
		filter:alpha(opacity=100);
	}
}
@-o-keyframes fadeIn {
	0% {
		opacity: 0; /*初始状态 透明度为0*/
		filter:alpha(opacity=0);
	}
	50% {
		opacity: .8; /*中间状态 透明度为0*/
		filter:alpha(opacity=80);
	}
	100% {
		opacity: 1; /*结尾状态 透明度为1*/
		filter:alpha(opacity=100);
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0; /*初始状态 透明度为0*/
		filter:alpha(opacity=0);
	}
	50% {
		opacity: .8; /*中间状态 透明度为0*/
		filter:alpha(opacity=80);
	}
	100% {
		opacity: 1; /*结尾状态 透明度为1*/
		filter:alpha(opacity=100);
	}
}
.mask p {
	position: absolute;
	bottom: 12px;

}
.mask a {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 10px;
}
/*team 团队介绍板块*/
.team {
	width: 100%;
	margin: 0;
	padding: 9rem 19.7%;
	padding-bottom: 15rem;
}
.team-msg {
	float: left;
	padding: 3rem 0;
	width: 100%;
	background:  url(../img/team-til.png) no-repeat 94% 0%,url(../img/team-bg.png) no-repeat;
	background-size: 6%,100% 95%;
}
.team-img {

}
.team img {
	display: inline-block;
	margin: auto;
	width: 100%;
}
.team h4 {
	color: #fc3e4c;
	font-size: 2.8rem;
    	font-weight: 100;
}
.team-word {
	height: 100%;
	font-size: 1rem;
    	padding-top: 3rem;
    	text-align: left;
    	color: #222;
}
.team-word p {
	margin-top: 2.5rem;
	font-size: 1.6rem;
	font-weight: 100;
}
.team-word p span {
	display: block;
}
.we {
	font-size: 1.8rem;
	font-weight: normal;
}
.team-word p ~ p {
	margin: 0 0 10px 0;
	line-height: 1;
}
.team a {
	display: block;
	margin-top: 3rem;
	width: 44%;
	line-height: 4rem;
	color: #fff;
	font-weight: 900;
	font-size: 1.8rem;
	font-style: italic;
	text-align: center;
	background: #f2303e;
	white-space: nowrap;
}
.team a:hover, .team a:visited, .team a:link {
	text-decoration: none;
	cursor: default;
}

/*feature 旅行特色板块*/
.feature {
	color: #fff;
	text-align: center;
	background-color: #f2303e;
}
.feature-msg {
	float: left;
	width: 100%;
	padding: 3.2rem 11.7% 2rem 11.7%;
}
.feature h1 {
	padding: 1rem 0;
	background-color: #fc3e4c;
}
.feature a {
	display: block;
	margin: 0 auto;
	width: 15%;
	line-height: 1.5;
	border: 1px solid #fff;
	border-radius: 20px;
	color: #fff;
	font-size: 1.5rem;
	font-weight: bolder;
	cursor: default;
	text-decoration: none;
}
.feature p {
	padding: 3rem;
}
.feature span {
	display: block;
	font-size: 2.6rem;
}
.feature .msg-english {
	margin-top: .8rem;
	color: #ccc;
	font-size: 1.8rem;
}
/*contact 联系方式*/
.contact {
	position: relative;
	padding: 14% 5%;
	margin: 0;
	height: 100%;
	border-bottom: 2.5rem solid #000;
	color: #000;
	background: url(../img/contact-bg.jpg) no-repeat;
	background-size: 100% 100%;
	text-align: center;
}
.contact ul {
	text-align: center;
}
.contact ul li {
	float: left;
}
.contact p {
	margin-top: 3.4rem;
	font-size: 2rem;
}
.contact p span {
	display: block;
	line-height: 1.6;
}
li .address-english {
	margin-top: 1rem;
	font-size: 1.5rem;
}
.copyright {
	position: absolute;
	transform: translateX(-50%);
	bottom: -2rem;
	color: #ccc;
	font-size: 1.8rem;
	text-align: center;
	white-space: nowrap;
}