/*reset  */
html, body, h1, h4, ul {
	margin: 0;
	padding: 0;
	font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif; 
}

html,body {
	height: 100%;
	font-size: 62.5%;
	line-height: 1;
}
ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}
/*@font-face
{
    font-family: myFirstFont;
    src: url("/fonts/buildFontFatory.otf");
}
div
{
    font-family:myFirstFont;
}*/
.container {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.header, .server, .feature, .interaction, .partner, .contact {
	margin: 0;
}  
.triangle {
	position: absolute;
	bottom: -2px;
	width: 100%;
	height: 200px;
	background: url(../img/tr.png) no-repeat 50% 100%;
}
.card {
	margin-top: 2rem;
	height: 15rem;
}
.card img {
	width: 20%;
}
.card span {
	display: block;
	margin-top: .5rem;
}
/*navbar 导航栏*/
.navbar {
	margin-bottom: 0;
	background: #1b1b1b;
	border: none;
}
.navbar .navbar-brand {
	color: #fff;
	font-family: SimSun;
} 
.navbar-default .navbar-toggle {
	border: none;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
	background: #f2303e;
}
/*header 标题页*/
.header {
	position: relative;
	width: 100%;
	height: 100%;
	background: url(../img/bg.jpg) no-repeat 50% 50%;
	background-size: 200% 100%;
}
.header h1 {
	position: relative;
	top: 30%;
	margin: 0 auto;
	color: #fff;
	font-size: 4rem;
	background: url(../img/h1.png) no-repeat center top;
	background-size: 100%;
	text-align: center;
	white-space: nowrap;
}
.header div {
	margin: 0 auto;
	width: 80%;
	overflow: hidden;
}
.header span {
	float: left;
	/*width: 100%;*/
	margin-top: 8rem;
	font-size: 2rem;
	text-align: center;
} 
.header .triangle {
	width: 100%;
}

/*server 旅游产品版块*/
.server {
	color: white;
	text-align: center;
	background-color: #222;
}
.server-msg {
	padding-bottom: 5rem;
}
.server-msg p {
	margin: 0 auto;
	padding: 2rem;
	border-top: 1px solid #f2303e;
}
.server-title {
	position: relative;
}
.server-content {
	margin-top: 50rem;
	position: relative;
}
.server .triangle {
	top: 0;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
/*server- tour 模块*/
.server-tour {
	text-align: center;
}
.tour-introduction {
	background: white;
}
.tour-text {
	padding-top: 4rem;
}
.tour-text img {
	width: 10%;
	margin: 1rem;
}
p.introduction-title {
	font-family: song;
}
p.introduction-title ,p.introduction-content {
	color: black;
}
p.last-sentence {
	margin: 0;
	padding-bottom: 1rem;
}


/*server- traffic 模块*/



/*server- fun 模块*/




/*server- stay 模块*/

/*feature 旅行特色板块*/
.feature {
	margin-top: 10rem;
	padding-top: 5rem;
	text-align: center;
}
.feature h1 {
	color: #F2303e;
	background-color: #fffdf4;
}
.feature p {
	padding: 3rem;
	background-color: #fffdf4;
}
/*
注意了：
特色的下面标签是用响应式来调整的 css query
还没做
*/


/*interaction 互动板块*/
.interaction {
	position: relative; 
	height: 20%;
	background-size: 100% 200%;
	background: url(../img/bg-i.jpg) no-repeat 50% 50%;
}
.interaction a {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -40%;
	width: 80%;
	line-height: 2;
	border: 2px solid #fff;
	border-radius: 30px;
	color: #fff;
	background: #222;
	opacity: 0.7;
	filter: alpha(opacity = 70);
	text-align: center;
}

/*partner 合作伙伴板块*/
.partner h1 {
	color: #f2303e;
	text-align: center;
}

/*contact 联系方式*/
.contact {
	padding: 5em 3em;
	color: #fff;
	background: url(../img/bg-con.jpg) no-repeat;
	text-align: right;
}
.contact p {
	padding-top: 1.5rem;
	border-top: 1px solid #fff;
}
.contact span {
	display: block;
} 