/*reset  */
html, body, h1, h4, ul {
	min-width: 768px;
	margin: 0;
	padding: 0;
	/*overflow-x: hidden;*/
	font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif; 
}

html,body {
	height: 100%;
	font-size: 62.5%;
	line-height: 1;
}
ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}
.container {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.header, .server, .feature, .interaction, .partner, .contact {
	margin: 0;
}  
.card {
	margin-top: 3rem;
	margin-bottom: 3rem;
	height: 12rem;
}
.card img {
	width: 30%;
}
.card span {
	display: block;
	margin-top: 3rem;
	font-size: 1.5rem;
}
/*navbar 导航栏*/
.navbar {
	margin-bottom: 0;
	font-size: 1.5rem;
	background: transparent;
	border: none;
	overflow-x: hidden; 
}
.navbar-nav {
	float: right;
	margin-right: 10rem;
}
.navbar-nav li {
	padding-left: 2rem;
	padding-right: 2rem;
	border-bottom: 2px solid transparent;
}
.navbar .navbar-brand {
	color: #fff;
} 
.navbar-default .navbar-toggle {
	border: none;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
	background: #f2303e;
}
.scroll {
	background: #222;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
/*header 标题页*/
.header {
	position: relative;
	width: 100%;
	height: 100%;
	color: #fff;
	font-weight: 900;
	background: url(../img/bg.jpg) no-repeat 50% 50%;
	background-size: 100% 100%;
	white-space: nowrap;
}
.header h1 {
	margin: 5rem auto;
	margin-top: 15rem;
	width: 50%;
	height: 15%;
	color: #fff;
	background: url(../img/h1.png) no-repeat 0% 50%;
	background-size: 100% 100%;
	text-align: center;
}
.header span {
	float: left;
	margin-top: 3rem;
	font-size: 2rem;
	text-align: center;
} 

/*server 旅游产品版块*/
.server {
	padding-top: 3rem;
	padding-bottom: 3rem;
	color: white;
	text-align: center;
}
.server-msg {
	position: relative;
	margin-top: -20px;
}
.server-msg a {
	display: inline-block;
	line-height: 3rem;
	color: #b2b2b2;
	background: #fc3e2c;
	text-decoration: none;
}
.server-msg a:hover {
	background: #fc3e2c;
}
.server-content {
	position: relative;
}
.triangle {
	position: absolute;
    	left: 119px;
    	bottom: -40px;
	width: 0;
	height: 0;
	border-top: 10px solid #fc3e2c;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
/*server- football 模块*/
.server-football {
	display: none;
}
#ft-sl .lt {
	padding: 4rem 4rem 0rem 0rem;
	background: url(../img/qiu.png) 24% 88% #fc3e2c no-repeat;
	background-size: 56%;
}
#ft-sr .rtl, #ft-sr .rtr {
	width: 50%;
}
/*server- food 模块*/

.server-food {
	display: none;
	float: left;
}
#fo-sl .lt {
	padding: 4rem 4rem 0rem 0rem;
	background: url(../img/bg-lt.png) 10% #fc3e2c no-repeat;
	background-size: 40%;
}
/*server- traffic 模块*/
.server-traffic {
	display: none;	
	float: left;
	width: 100%;
}
#tf-sl .lt {
	padding: 4rem 4rem 0rem 0rem;
	background: url(../img/bg-tf.png) 10% 86% #fc3e2c no-repeat;
	background-size: 40%;
}

/*server- fun 模块*/
.server-fun {
/*	display: none;*/
}
#fun-sl .lt {
	text-align: left;
	padding: 3rem 0rem 0rem 3.2rem;
	background: url(../img/bg-fun.png) 82% 86% #fc3e2c no-repeat;
	background-size: 40%;	
}
/*server- stay 模块*/
.server-stay {
	display: none;
}
#st-sl, #st-sr,#st-ct, .st-tl, .st-tr, .st-bl, .st-br {
	float: left;
} 

#st-sl {
	width: 34.97%;
}
#st-ct {
	width: 34.97%;
}
#st-sr {
	width: 30.06%;
}
.st-tl,.st-tr,.st-bl, .st-br {
	width: 100%;
}
.st-tl,.st-tr {
	height: 54.72%;
}
.st-bl, .st-br {
	height: 45.28%;
}
.st-tr {
	background: url(../img/bg-lt.png) 10% #fc3e2c no-repeat;
	background-size: 40%;
}
.server-stay img {
	width: 100%;
	height: 100%;
}
/*模块*/
.food{
	float: left;
	padding: 5% 15%;
}
.food-arrow {
	position: relative;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom: 49px solid #ffd200;
}

.food img {
	width: 100%;
	height: 100%;	
}
.show-left {
	float: left;
	width: 26.9%;
	height: 100%;
}
.lt {
	height: 50%;
	text-align: right;
	line-height: 1.6;

}
.lt span {
	display: block;
	font-size: 2.4rem;
	font-weight: 100;
}

/*屏幕*/
@media all and (max-width: 1440px) {
	#ft-sl .lt ,#fo-sl .lt ,#tf-lt .lt ,#fun-sl .lt ,.lt {
		padding: 3rem 3rem 0rem 0rem; 
	}
	#fun-sl .lt {
		padding: 2rem 0rem 0rem 3rem;
	}
	#ft-sl .lt span ,#fo-sl .lt span ,#tf-lt .lt span ,#fun-sl .lt span , .lt span {
		font-size: 2.0rem;
	}
}
/* 小屏幕 */
@media all and (max-width: 1024px) {
	#ft-sl .lt ,#fo-sl .lt ,#tf-lt .lt ,.lt  {
		padding: 2rem 2rem 0rem 0rem; 
	}
	#ft-sl .lt span ,#fo-sl .lt span ,#tf-lt .lt span ,#fun-sl .lt span , .lt span {
		font-size: 1.6rem;
	}
	#fun-sl .lt {
		padding:  2rem 0rem 0rem 2rem;
	}
}
/* 平板 */
@media all and (max-width: 768px) {
	#ft-sl .lt ,#fo-sl .lt ,#tf-lt .lt ,#fun-sl .lt ,.lt  {
		padding: 2rem .6rem 0rem 0rem; 
		line-height: 1.3;
	}
	#ft-sl .lt span ,#fo-sl .lt span ,#tf-lt .lt span ,#fun-sl .lt span , .lt span {
		font-size: 1.5rem;
	}
	#fun-sl .lt {
		padding:  1rem 0rem 0rem .6rem;
	}
}
.lb {
	height: 50%;
}
.show-right {
    float: left;
    width: 73.1%;
    height: 100%;
}
.rt {
    height: 39.68%;	
}
.rtl {
    float: left;
    width: 32.95%;
    height: 60.32%;
}
.rtr {
    float: left;
    width: 67.05%;
    height: 60.32%;

}
/*team 团队介绍板块*/
.team {
	width: 100%;
	margin: 0;
	padding-top: 15rem;
	padding-bottom: 15rem;
}
.team-msg {
	float: left;
	position: relative;
	left: 10%;
	width: 80%;
	background: url(../img/team-bg.png) no-repeat;
	background-size: 100% 95%;
}
.team h4 {
	color: #fc3e4c;
}
.team img {
	display: block;
	margin: 0 auto;
	margin-bottom: -60px;
	width: 80%;
}
.team-img {
	padding-top: 7em;
}
.team-word {
	height: 100%;
	font-size: 1rem;
    	padding-top: 7rem;
    	text-align: left;
    	color: #222;
	background: url(../img/team-til.png) no-repeat 90% 0%;
	background-size: 10%;
}
/*@media screen and (max-width: 1980px) {
	.team-word {
		font-size: 2rem;
	}
}
@media screen and (max-width: 1240px) {
	.team-word {
		font-size: 1.5rem;
	}
}*/
.team-word p {
	margin-top: 2.5rem;
}
.team-word p ~ p {
	margin: 0;
}
.team a {
	display: block;
	margin-top: 1rem;
	width: 40%;
	line-height: 3rem;
	color: #fff;
	font-weight: 900;
	font-size: 1rem;
	text-align: center;
	background: #f2303e;
	white-space: nowrap; 
}
/*feature 旅行特色板块*/
.feature {
	height: 30rem;
	color: #fff;
	text-align: center;
	background-color: #f2303e;
}
.feature h1 {
	padding: 1rem 0;
	background-color: #fc3e4c;
}
.feature a {
	display: block;
	margin: 0 auto;
	width: 25%;
	line-height: 1.5;
	border: 1px solid #fff;
	border-radius: 20px;
	color: #fff;
	font-size: 1.5rem;
	text-decoration: none;

}
.feature p {
	padding: 3rem;
}
.feature span {
	display: block;
}
/*easy*/
.easy {
	margin: 0;
}
.easy-msg {
	float: left;
	position: relative;
	left: 10%;
	margin-top: 5rem;
	margin-bottom: 5rem;
	width: 80%;
	background: url(../img/team-bg.png) no-repeat;
	background-size: 100% 100%;
}
.easy-word {
	height: 100%;
	font-size: 1.5rem;
    	padding-top: 7rem;
    	text-align: right;
    	color: #222;
	background: url(../img/team-til.png) no-repeat 0% 0%;
	background-size: 10%;
}
.easy-word p {
	font-size: 2rem;
	margin-top: 3rem;
}


/*contact 联系方式*/
.contact {
	color: #fff;
	font-size: 1.3rem;
	font-weight: 100;
	background: url(../img/contact-bg.jpg) no-repeat;
	background-size: 100% 100%;
	text-align: right;
}
.contact ul {
	padding-left: 0;
	background: #222;
}
.contact li {
	border-bottom: 1px solid #313131;
}
.contact p {
	margin: 0;
	padding: 4rem 0 4rem 12rem;
	border-left: 5px solid #fc3e4c;
	text-align: left;
}
.contact-phone {
	background: url(../img/con-1.png) no-repeat 10% 50%;
	background-size: 75px 75px;
}
.contact-website {
	background: url(../img/con-2.png) no-repeat 10% 50%;
	background-size: 75px 75px;
}
.contact-address {
	background: url(../img/con-3.png) no-repeat 10% 20%;
	background-size: 75px 75px;
}
.contact-address span {
	display: block;
}